{% extends 'layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <p>
        This is an exercise done for an application to the Click&Boat company
    </p>
{% endblock %}

